@use'scss/base';
@use'scss/programs-selector';
@use'scss/programs-options';
@use'scss/bg-image';

.main-content {

  @include  base.md {
    padding-left: 15px;
  }

  .page-title {
    font-size: 60px;
  }

  .programs-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;

    @include base.md {
      flex-direction: column;
      row-gap: 30px;
    }
  }
}